@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1C1C1F;
  --black1:#29292D;
  --black2:#0F0F0F;
  --foreground: #171717;
  --brand:#EF9241;
  --gray1:#B7ADA4;
  --gray2:#838383;
  --gray3:#F6F6F6;

}


@layer components {
  .mainContainer {
    /*@apply  w-full px-4 sm:px-6 md:px-12 md:max-w-[1344px] lg:px-20 xl:max-w-[1760px] xl:px-4  2xl:px-0*/
    @apply  w-full px-4 sm:px-6 md:px-12 lg:px-20   max-w-[1760px] mx-auto
  }
  .flex-center{
    @apply flex justify-center items-center
  }
  .btn-primary{
    @apply rounded-[46px] py-2.5 px-4 text-white text-sm font-medium bg-brand
  }
  .btn-rounded{
    @apply h-10 w-10 rounded-full bg-opacity-10 bg-white flex-center
  }
  .title-page{
    @apply font-normal text-center text-2xl sm:text-[35px] text-white mt-11 leading-[63px]
  }
  .inputClass{
    @apply h-12 sm:h-[56px] w-full rounded-[32px] bg-gray3 px-6 outline-none py-3
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
